header {
    @include Flex(center, space-between);
    position: fixed;
    width: 100%;
    z-index: 10;
    background: rgba(#fff, 0.6);
    .logo {
        $image: '../img/header/logo.png';
        margin-left: 20px;
        background: #fff no-repeat url($image);
        background-size: image-width($image) image-height($image);
        background-position: center center;
        width: image-width($image) +20px;
        height: image-height($image) + 20px;
        @include transition(all 0.8s);
    }
    ul {
        margin: 10px 0;
        margin-right: 40px;
        .icon {
            margin: 0 1vw;
            text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
            color: #fff;
            @include transition(all 0.3s);
            &:hover {
                color: $hightlight;
            }
            &.icon-notifications {
                position: relative;
                span {
                    position: absolute;
                    font-size: 14px;
                    z-index: 9;
                    top: -4px;
                    right: -2px;
                    
                }
                &:after {
                    content: '';
                    font-size: 14px;
                    padding: 2px 4.2px;
                    position: absolute;
                    top: -6px;
                    right: -6px;
                    background: #f9291f;
                    width: 16px;
                    height: 16px;
                    border-radius: 50%;
                }
            }
        }
    }
}

@media screen and (max-width: 414px) {
    header {
        .logo {
            $image: '../img/header/logo_m.png';
            margin-left: 5px;
            background: no-repeat url($image);
            background-size: cover;
            // width: image-width($image) ;
            // height: image-height($image);
            width: 147px;
            height: 36px;
        }
        ul {
            margin-right: 5px;
            .icon {
                margin: 0 2vw;
            }
        }
    }
}

@media screen and (max-width: 320px) {
    header {
        ul {
            .icon {
                margin: 0 1vw;
            }
        }
    }
}
