.achievements {
    margin-top: 40px;
    .achievement {
        text-align: center;
        img {
            height: 50px;
            width: auto;
        }
        p {
            margin-top: 10px;
        }
    }
}
