#upload {
    opacity: 0;
    position: absolute;
    top: 0;
    width: 150px;
    height: 150px;
    cursor: pointer;
}

.register-wrap {
    display: block;
    width: 100%;
    margin: 10px 0;
    .register {
        background: transparent;
        box-shadow: none;
        .step1 {
            .pro-form {
                margin: 0 auto;
                width: 60%;
            }
            display: block;
            // overflow: overlay;
        }
    }
}

@media screen and (max-width: 414px) {
    .proImg {
        position: relative;
        #upload {
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
    .register-wrap {
        .register {
            // padding: 0;
            margin-bottom: 0;
            padding-bottom: 0;
            .step1 {
                .pro-form {
                    width: 100%;
                }
            }
        }
    }
}
