.personal {
    margin-top: -75px;
    position: relative;
    .pro-pic {
        width: 150px;
        height: 150px;
        border: 2px solid #fff;
    }
    .p-common {
        @include Flex(center, space-between);
        .p-name {
            color: $gray;
        }
        .p-id,
        .p-group {
            p {
                font-size: 18px;
                color: $gray;
            }
            small {
                color: #aaa;
            }
        }
        .edit-btn {
            &:before {
                content: '編輯個人資料 '
            }
        }
    }
    .tabs {
        .item {
            color: $gray;
            padding: 15px 0;
            text-align: center;
            cursor: pointer;
            &.active {
                color: #fff;
                background-color: $hightlight;
            }
        }
    }
}

@media screen and (max-width: 414px) {
    .bg-container {
        position: relative;
    }
    .personal {
        .pro-pic {
            display: block;
            margin: 0 auto;
            margin-bottom: 40px;
        }
        .p-common {
            @include Flex(flex-start, space-between);
            .p-name {
                font-size: 24px;
                margin-top: 0;
            }
            .p-id,
            .p-group {
                p {
                    font-size: 16px;
                }
            }
            .edit-btn {
                border: none;
                position: absolute;
                top: 20px;
                right: 15px;
                i {
                    font-size: 20px;
                }
                &:before {
                    content: '';
                }
            }
        }
        .tabs {
            .item {
                border: 1px #ddd solid;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .personal {
        .bg-container {
            background: transparent;
            box-shadow: none;
            padding-top: 200px;
        }
        .pro-pic {
            position: absolute;
            top: 0;
        }
        .breadcrum {
            position: absolute;
            top: 50px;
            left: 210px;
        }
    }
}
