@import "bootstrap-compass";
@import "bootstrap-custom";
// ==== font-awesome ====//
$fa-font-path:"../fonts";
@import "../../node_modules/font-awesome/scss/font-awesome";
.icon-user {
    @extend .fa;
    @extend .fa-user;
}

// ==== font-awesome ====//
// ====font-size===== //
h1 {
    font-size: 45px;
}

h2 {
    font-size: 38px;
}

h3 {
    font-size: 32px;
}

h4 {
    font-size: 25px;
}

h5 {
    font-size: 18px;
}

h6,
p {
    font-size: 14px;
}

// ====font-size===== //
@mixin Flex($x, $y) {
    @include display-flex();
    @if $x !=null {
        @include align-items($x);
    }
    @if $y !=null {
        @include justify-content($y);
    }
}

body {
    // background:#000;
    font-family: 'Helvetica', 'PingFang TC', "微軟正黑體";
}

.wrap {
    max-width: 1280px;
    margin: 0 auto;
}

//color
$hightlight:#e7b020;
$blue:#182350;
//commom
//
.block-title {
    color: $blue;
    display: inline-block;
    padding-bottom: 10px;
    border-bottom: 3px solid $hightlight;
    span {
        font-size: 15px;
        text-transform: uppercase;
    }
}

@media screen and (max-width: 414px) {
    .block-title {
        font-size: 22px;
    }
}
