@import "bootstrap-compass";
@import "bootstrap-custom";
// ==== font-awesome ====//
$fa-font-path:"../fonts";
@import "../../node_modules/font-awesome/scss/font-awesome";
.icon-user {
    @extend .fa;
    @extend .fa-user;
}

// ==== font-awesome ====//
// ====font-size===== //
h1 {
    font-size: 45px;
}

h2 {
    font-size: 38px;
}

h3 {
    font-size: 32px;
}

h4 {
    font-size: 25px;
}

h5 {
    font-size: 18px;
}

h6,
p {
    font-size: 14px;
}

// ====font-size===== //
@mixin Flex($x, $y) {
    @include display-flex();
    @if $x !=null {
        @include align-items($x);
    }
    @if $y !=null {
        @include justify-content($y);
    }
}

body {
    // background:#000;
    font-family: 'Helvetica', 'PingFang TC', "微軟正黑體";
}

.wrap {
    max-width: 1280px;
    margin: 0 auto;
}

//color
$hightlight:#e7b020;
$blue:#182350;
$gray:#898f92;
$red:#fe5a65;
//commom
//
.block-title {
    color: $blue;
    display: inline-block;
    padding-bottom: 10px;
    border-bottom: 3px solid $hightlight;
    span {
        font-size: 15px;
        text-transform: uppercase;
    }
}

.warning {
    color: #fe5a65;
    font-style: italic;
}

.btn {
    border: 1px solid $hightlight;
    border-radius: 0;
    color: $hightlight;
    &:hover {
        color: #fff;
        background: $hightlight;
    }
}

input {
    background: none;
    border: none;
    border-bottom: 1px solid $hightlight;
    &:focus {
        outline: none;
    }
}

@media screen and (max-width: 414px) {
    .block-title {
        font-size: 22px;
    }
}

i {
    vertical-align: middle;
}

.alignIn1-top-center {
    @include Flex(flex-start, center);
}

.alignIn1-center-center {
    @include Flex(center, center);
}

//scroll bar
::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    opacity: 0;
}

::-webkit-scrollbar-track {
    // -webkit-border-radius: 10px;
    // border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    // -webkit-border-radius: 10px;
    // border-radius: 10px;
    background: $hightlight;
}

::-webkit-scrollbar-thumb:window-inactive {
    background: $hightlight;
}
