.slider {
    position: relative;
    height: 670px;
    overflow: hidden;
    main {
        position: absolute;
        top: 50%;
        left: 50%;
        @include transform(translate(-50%, -50%));
        text-align: center;
        z-index: 999;
        h1 {
            color: #fff;
            font-style: italic;
            font-weight: bold;
            text-shadow: 0 0 15px rgba(#000, 0.6);
        }
        .btn {
            color: #fff;
            border: 1px solid #fff;
            padding: 8px 45px;
            border-radius: 0;
            margin-top: 5px;
            display: inline-block;
            position: relative;
            h5,
            i {
                vertical-align: middle;
            }
            h5 {
                display: inline-block;
                letter-spacing: 3px;
            }
            &:after {
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                width: 0;
                height: 100%;
                background-color: $hightlight;
                transform-origin: left;
                transition: width 0.25s ease;
                z-index: -1;
            }
            &:hover::after {
                width: 100%;
            }
        }
    }
    .swiper-container-1 {
        width: 100%;
        height: 100%;
        .swiper-wrapper .swiper-slide {
            img {
                width: 100%;
                height: auto;
            }
        }
        &.swiper-container-vertical>.swiper-pagination-bullets {
            left: 10px;
        }
        .swiper-pagination-bullet {
            width: 3px;
            height: 8vw;
            max-height: 40px;
            border-radius: 0;
            background: #fff;
            opacity: 0.8;
        }
        .swiper-pagination-bullet-active {
            background: $hightlight;
        }
    }
    .swiper-container-2 {
        text-align: center;
        background: rgba(#000, 0.8);
        color: #fff;
        @include transform(translate(0, -100%));
        p {
            margin: 20px 0 40px 0;
            a {
                color: white;
            }
        }
        .swiper-pagination-bullet {
            background: #fff;
            opacity: 0.8;
        }
        .swiper-pagination-bullet-active {
            background: $hightlight;
        }
    }
}

@media screen and (max-width: 414px) {
    .slider {
        height: 100vw;
        main {
            h1 {
                font-size: 38px;
            }
            .btn {
                padding: 3px 35px;
            }
        }
        .swiper-container-1 {
            .swiper-wrapper .swiper-slide {
                @include Flex(center, center);
                img {
                    width: auto;
                    height: 100%;
                }
            }
        }
        .swiper-container-2 {
            p {
                margin: 15px 0 35px 0;
            }
        }
    }
}
